@media (max-width: 1023px) {
  .nav {
    display: none;
  }
  .nav--icon {
    display: block;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
@media (min-width: 740px) and (max-width: 1023px) {
}
@media (max-width: 739px) {
}
